@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    @Html.ActionLink("Test 1", "Index", "Employee", null, new { @class = "btn btn-dark btn-lg"})
    @Html.ActionLink("Test 2", "Index", "Test2", null, new { @class = "btn btn-dark btn-lg"})
    @Html.ActionLink("Test 3", "Index", "Test3", null, new { @class = "btn btn-dark btn-lg"})
    @Html.ActionLink("Test 4", "Index", "Test4", null, new { @class = "btn btn-dark btn-lg"})
</div>