
@{
    ViewBag.Title = "Index";
}



<h1>Test 2</h1>
<hr />
<div class="m-3 fs-1">
    Text Here: <label id="mylabel"  ></label>
</div>

<button id="button1" class="btn btn-dark ">PRINT TEXT</button>
<button id="button2" class="btn btn-dark ">BOLD</button>
<button id="button3" class="btn btn-dark ">ITALIC</button>
<button id="button4" class="btn btn-dark ">UNDERLINE</button>
<button id="button5" class="btn btn-dark ">RESET</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/Scripts/MyScript.js"></script>
